<nav class="nav">
    <ul class="nav__ul">
        
            
        
                
            <li class="nav__li"><a class="nav__a _active" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="_active"><span class="material-icons">home</span></a> </li>
            <li class="nav__li"><a class="nav__a"routerLinkActive="_active" routerLink="/profile"><span class="material-icons">person</span></a></li>
            <li class="nav__li"> <a class="nav__a"routerLinkActive="_active" routerLink="/chat"><span class="material-icons">chat</span></a></li>
            <li class="nav__li"> <a class="nav__a"routerLinkActive="_active" routerLink="/book"><span class="material-icons">auto_stories</span></a></li>
            <li class="nav__li"><a class="nav__a"routerLinkActive="_active" routerLink="/dark"><span class="material-icons">nightlight_round</span></a></li>
    </ul>
</nav>